input[type~="text"], input[type~="tel"], textarea
{
    font-family: inherit;
    @include small;
    margin: 0;
    color: $gray-fit;
    box-sizing: border-box;
}
.form *{
    outline: none;
}
.form{
    @include center-column;
    max-width: 468px;
    &__item{
        // margin-bottom: 24px;
        width: 100%;
        
    }

    &__item-label{
        display: block;
        @include subtitle2;
        padding-bottom: 8px;
        align-self:flex-start;
    }
    &__item-input{
        background: $white-body;
        width: 100%;
        padding:0 72px 0 24px;
        box-sizing: border-box;
        height: 66px;
        border-radius: 10px;
        border: 1px solid $white-body;
        
        ::placeholder{
            color:$lightgray;
        }
        &:hover{
            // border: 1px solid $gray-fit;
            box-sizing: border-box;
            
        }
        &:focus{
            //  border: 1px solid $gray-fit;
            //  border-radius: 10px;
              
              
        }
        &:active{
            border: 1px solid $gray-fit;
            // border-radius: 10px;

             box-sizing: border-box;
        }
    }
    &__item-area{
        width: 100%;
        min-height: 180px;
        padding:28px 32px 20px 24px;
        box-sizing: border-box;
        height: 180px;
        border-radius: 10px;
        border: 1px solid $white-body;
        resize: vertical;


        ::placeholder {
            color: $lightgray;
        }

        &:hover {
            // border: 1px solid $gray-fit;

        }

        &:focus {
            // border: 1px solid $gray-fit;
            // border-radius: 10px;
            outline: 0;

        }

        &:active {
            border: 1px solid $gray-fit;
            border-radius: 10px;
            outline: 0;

        }
    }

    &__item-submit{
        @include main;
          padding: 25px 153px;
    }

    &__error{
        @include xs;
        color: #EB5757;
        padding-top: 8px;
        padding-bottom: 0;
    }

    &__agree{
        @include xs;
        color: $white-body;
        margin-top: 25px;
        
        cursor: pointer;
        & a{
            color: green;  
        }
    }


}

@media (max-width:1024px) {
    .form{
        padding: 0 24px;
        &__item-label{
            @include mainmob;
        }
    }
    
    
}
// .checkbox{
//     width: 100%;
//     box-sizing: border-box;
//     &__label{
//         @include xs;
//         color: $white-body;
//         display: inline-flex;
//         align-items: center;
//         position: relative;
//         cursor: pointer;
//         box-sizing: border-box;
//         & a{
//           background-color: green;  
//         }
//     }
//     &__input{
//         display: none;
//     }

//     &__input:checked+ .checkbox__label::after{
//         transform: scale(1);
//     }

//     &__label::before{
//         content: "";
//         align-self: start;
//         border: 3px solid $white-body;
//         border-radius: 3px;
//         flex: 0 0 32px;
//         height: 32px;
//         margin-right: 25px;
//     }
//     &__label::after{
//         content: "";
//         width: 13px;
//         height: 10px;
//         position: absolute;
//         z-index: 4;
//         top: 11px;
//         left: 9px;
//         background-image: url(../image/icon/checkbox/white.svg);
//         transform: scale(0);
//         transition: transform 0.5s ease 0s;
//     }
    

// }

.errDisabled {
    visibility: hidden;
}
.errEnabled {
    visibility: visible;
    // margin: 8px 0 0px 20px;
}


