

.container {
    max-width: 1152px;
    margin: 0 auto;
    padding:0 144px;
}





.link{
    font-size: inherit;
    color: inherit;
    &:hover{
         text-decoration: underline;
        color: $green-fit;
    }
    &:active{
        color: $green-fit;
         text-decoration: underline;
    }
}


.inner{
    padding: 100px 0;
}

.title{
    @include title-h2;
    text-align: center;
    span {
        color: $green-fit
    }
    
}

.seti-links{
    display: flex;
    justify-content: space-between;
    width:120px;
}

.avatar-img{
 max-width: 110px;
 max-height: 110px;
}
.adaptiv-close{
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
}
.adaptiv-close:before{
    content:'';
    background: url(../image/icon/adaptiv-close.svg) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 auto;
    top:0;
    right: 0;
    z-index: 60;
            
}
.up{
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 50px;
    z-index: 10000;
}
.ti12{
    position: relative !important;
}

.del {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 5px;
   display: none;
    cursor: pointer;
}
.vis {
    margin-top: 5px;
    
   display: inline-block;
    cursor: pointer;
}