

.container {
    max-width: 1152px;
    margin: 0 auto;
    padding:0 144px;
}





.link{
    font-size: inherit;
    color: inherit;
    &:hover{
         text-decoration: underline;
        color: $green-fit;
    }
    &:active{
        color: $green-fit;
         text-decoration: underline;
    }
}


.inner{
    padding: 100px 0;
}

.title{
    @include title-h2;
    text-align: center;
    span {
        color: $green-fit
    }
    
}
.seti-links{
    display: flex;
    justify-content: space-between;
    width:120px;
}

.avatar-img{
 max-width: 110px;
 max-height: 110px;
}