@media  (min-width:1240px) and (max-width:1420px){
    .header__menu-item{
        padding-right: 50px;
    }
    .heading__inner{
        background-size: 400px;
        background-position: 100% 205px;
    }
    .workout__item {
        width:300px;
    }
    .accordeon__heading{
        font-weight: 500;
        font-size: 25px !important; 
        line-height: 120%;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .questions__item-wrap{
        padding: 0 36px;
    }
    .questions__item-img1 {
        max-width: 442px;

     }
     .questions__item-img3 {
        max-width: 436px;

     }
     .price__content{
        grid-column-gap: 20px;
     }
     .price__item{
        padding: 160px 2px 40px 2px;
     }

     .contacts__container{
         background-size: 466px;
         background-position-x: 653px;
     }

    //  history
    .education__diplom-left{
        display: flex;
    }

    .workout-blog__item {
        width:300px;
    }

}