@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap");
input[type~="text"], input[type~="tel"], textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  margin: 0;
  color: #444B59;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form * {
  outline: none;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 468px;
}

.form__item {
  width: 100%;
}

.form__item-label {
  display: block;
  font-weight: 500;
  font-size: 23px;
  line-height: 149%;
  padding-bottom: 8px;
}

.form__item-input {
  background: #FFFFFF;
  width: 100%;
  padding: 0 72px 0 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 66px;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
}

.form__item-input ::-webkit-input-placeholder {
  color: #B5B7BC;
}

.form__item-input :-ms-input-placeholder {
  color: #B5B7BC;
}

.form__item-input ::-ms-input-placeholder {
  color: #B5B7BC;
}

.form__item-input ::placeholder {
  color: #B5B7BC;
}

.form__item-input:hover {
  border: 1px solid #444B59;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__item-input:focus {
  border: 1px solid #444B59;
  border-radius: 10px;
}

.form__item-input:active {
  border: 1px solid #444B59;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__item-area {
  width: 100%;
  min-height: 180px;
  padding: 28px 32px 20px 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 180px;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  resize: vertical;
}

.form__item-area ::-webkit-input-placeholder {
  color: #B5B7BC;
}

.form__item-area :-ms-input-placeholder {
  color: #B5B7BC;
}

.form__item-area ::-ms-input-placeholder {
  color: #B5B7BC;
}

.form__item-area ::placeholder {
  color: #B5B7BC;
}

.form__item-area:hover {
  border: 1px solid #444B59;
}

.form__item-area:focus {
  border: 1px solid #444B59;
  border-radius: 10px;
  outline: 0;
}

.form__item-area:active {
  border: 1px solid #444B59;
  border-radius: 10px;
  outline: 0;
}

.form__item-submit {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  padding: 25px 153px;
}

.form__error {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #EB5757;
  padding-top: 8px;
  padding-bottom: 0;
}

.form__agree {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 25px;
  cursor: pointer;
}

.form__agree a {
  color: green;
}

@media (max-width: 1024px) {
  .form {
    padding: 0 24px;
  }
  .form__item-label {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
}

.errDisabled {
  visibility: hidden;
}

.errEnabled {
  visibility: visible;
}

@media (max-width: 1024px) {
  .button__primary {
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
  }
}

.button {
  cursor: pointer;
}

.button__primary {
  background-color: #4EAA40;
  border-radius: 10px;
  color: #FFFFFF;
}

.button__primary:hover {
  background-color: #70F15C;
}

.button__primary:active {
  background-color: #444B59;
}

.button__primary:disabled {
  background-color: #B5B7BC;
}

.button__secondary {
  background-color: #444B59;
  border-radius: 10px;
  color: #FFFFFF;
}

.button__secondary:hover {
  background-color: #444B59;
  -webkit-box-shadow: 0px 4px 15px rgba(11, 78, 11, 0.35);
          box-shadow: 0px 4px 15px rgba(11, 78, 11, 0.35);
}

.button__secondary:active {
  background-color: #252A34;
}

.button__secondary:disabled {
  background-color: #B5B7BC;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button__small {
  background-color: #444B59;
  border-radius: 7px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.button__small:hover {
  background-color: #444B59;
  -webkit-box-shadow: 0px 4px 15px rgba(11, 78, 11, 0.35);
          box-shadow: 0px 4px 15px rgba(11, 78, 11, 0.35);
}

.button__small:active {
  background-color: #252A34;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button__strocked {
  border-radius: 10px;
  border: 4px solid #4EAA40;
  color: #444B59;
}

.button__strocked:hover {
  border: 4px solid #70F15C;
  color: #4EAA40;
}

.button__strocked:active {
  border: 4px solid #444B59;
  color: #444B59;
}

.form-down {
  position: relative;
  width: 82%;
  background-color: #444B59;
  border-radius: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  margin-top: 53px;
  margin-bottom: 100px;
  padding-top: 48px;
  padding-bottom: 54px;
}

.form-down__title {
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.form-down::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(37, 42, 52, 0.8) url(../image/icon/Loading_icon.gif) center/100px no-repeat;
  opacity: 0;
  visibility: hidden;
}

.form-down._sending::before {
  opacity: 0;
  visibility: visible;
}

.btn-form {
  text-align: center;
  padding: 24px 150px;
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .form-down {
    position: relative;
    width: 82%;
    background-color: #444B59;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FFFFFF;
    margin-top: 24px;
    margin-bottom: 48px;
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .form-down__title {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  .btn-form {
    text-align: center;
    width: 100%;
    margin-top: 24px;
    padding: 24px 115px;
  }
}

.burger {
  display: none;
}

.burger__menu {
  display: none;
}

.burger__wrapper {
  width: 282px;
  position: absolute;
  z-index: 51;
  top: 0;
  right: 0;
  padding: 16px 19px;
  background: #444B59;
  border-radius: 0px 0px 0px 10px;
  color: #FFFFFF;
}

.burger__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.burger__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__logo {
  width: 65px;
  height: 58px;
  margin-right: 13px;
}

.burger__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
}

.burger__main {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.burger__item {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

.burger__item:not(:last-child) {
  margin-bottom: 18px;
}

.burger__item:first-child {
  margin-bottom: 25px;
}

.burger__sublist {
  margin-top: 8px;
}

.burger__subitem {
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #B5B7BC;
}

.burger__subitem:not(:last-child) {
  margin-bottom: 6px;
}

.burger__seti-link {
  margin: 25px 0;
}

.burger__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__tel {
  margin-bottom: 5px;
}

.burger__tel-item {
  margin-left: 11px;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

.burger__mail-item {
  margin-left: 11px;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.header__container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 144px;
}

.header__menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #444B59;
  margin: 23px 0;
}

.header__logo {
  width: 83px;
  height: 74px;
  overflow: hidden;
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.header__menu {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__menu ul {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__menu li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header__menu-item {
  padding-right: 62px;
}

.header__menu-item:last-child {
  padding-right: 0;
}

.header__menu-link {
  border-bottom: 3px solid #FFFFFF;
}

.header__menu-item:hover .header__menu-link {
  border-bottom: 3px solid #4EAA40;
  color: #4EAA40;
}

.heading {
  background-color: #F3FFF4;
}

.heading__inner {
  padding-top: 103px;
}

.heading__inner-content {
  position: relative;
}

.heading__background-photo {
  overflow: hidden;
  max-width: 660px;
  max-height: 661px;
  position: absolute;
  z-index: 3;
  left: 503px;
  top: 103px;
}

.heading__background-photo img {
  width: 100%;
  height: 100%;
}

.heading__background-circle {
  overflow: hidden;
  max-width: 471px;
  max-height: 471px;
  position: absolute;
  z-index: 2;
  left: 683px;
  top: 73px;
}

.heading__background-circle img {
  width: 100%;
  height: 100%;
}

.heading__subtitle-top {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 27px;
  line-height: 110%;
  margin-bottom: 19px;
}

.heading__title {
  font-weight: 900;
  font-size: 125px;
  line-height: 110%;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}

.heading__subtitle-bottom {
  font-weight: 900;
  font-size: 39px;
  line-height: 120%;
  font-family: 'Playfair Display', serif;
  color: #4EAA40;
  margin-bottom: 36px;
}

.heading__text {
  width: 376px;
  margin-bottom: 41px;
  font-weight: 500;
  font-size: 20px;
  line-height: 149%;
}

.heading____btn {
  display: inline-block;
}

.heading__button {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  padding: 25px 104px 25px 104px;
  margin-bottom: 162px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__title {
  margin-bottom: 48px;
}

.about__subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  margin-bottom: 54px;
}

.about__content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.about__content-item {
  width: 308px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.about__content-item img {
  margin-bottom: 38px;
}

.about__content-text {
  height: 108px;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  text-align: center;
  margin-bottom: 45px;
}

.about__content-button {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  width: 298px;
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__popup .mfp-wrap {
  margin: 0 auto;
  background-color: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.about__popup.mfp-bg {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  overflow: hidden;
  position: fixed;
  background: #252A34;
  opacity: 0.8;
  -webkit-transition: all 0.15s ease-out;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.about__popup .mfp-content {
  background: transparent;
  opacity: 0.8;
  max-width: 1440px;
  position: relative;
}

.about__popup .mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 768px) and (max-width: 1243px) {
  .about__title {
    max-width: 361px;
    margin-bottom: 48px;
  }
  .about__subtitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
    margin-bottom: 48px;
  }
  .about__content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 48px;
  }
  .about__content-item img {
    margin-bottom: 24px;
  }
  .about__content-text {
    height: 63px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
    margin-bottom: 24px;
  }
  .about__content-button {
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
    width: 361px;
    height: 73px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.principles {
  background-color: #F3FFF4;
}

.principles__container {
  position: relative;
  background-image: url(../../image/Circle.svg);
  background-repeat: no-repeat;
  background-size: 447px;
  background-position: 149px 194px;
}

.principles__background-photo {
  overflow: hidden;
  width: 455px;
  height: 1081px;
  position: absolute;
  z-index: 2;
  left: 75px;
  top: 58px;
}

.principles__background-photo img {
  width: 100%;
  height: 100%;
}

.principles__inner {
  margin-left: 287px;
}

.principles__inner h2 {
  text-align: left;
  margin-bottom: 56px;
}

@media (min-width: 1025px) {
  .principles__grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
    grid-gap: 20px;
  }
  .principles__grid-item {
    background-color: #FFFFFF;
    padding: 31px  19px 38px 36px;
    -webkit-filter: drop-shadow(0px 4px 34px rgba(181, 181, 181, 0.21));
            filter: drop-shadow(0px 4px 34px rgba(181, 181, 181, 0.21));
  }
  .principles__grid-item img {
    padding-bottom: 12px;
  }
  .principles__grid-item:hover {
    -webkit-filter: drop-shadow(0px 4px 34px rgba(11, 78, 11, 0.15));
            filter: drop-shadow(0px 4px 34px rgba(11, 78, 11, 0.15));
  }
  .principles__grid-text {
    font-weight: 400;
    font-size: 17px;
    line-height: 120%;
  }
  .principles__grid-item:nth-child(1) {
    border-radius: 62px 0 0 0;
    padding-right: 53px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .principles__grid-item:nth-child(2) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5/10;
    border-radius: 0 62px 0 0;
  }
  .principles__grid-item:nth-child(3) {
    padding-right: 24px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 9;
    grid-column: 1/10;
  }
  .principles__grid-item:nth-child(4) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
  .principles__grid-item:nth-child(5) {
    -ms-grid-column: 5;
    -ms-grid-column-span: 5;
    grid-column: 5/10;
  }
  .principles__grid-item:nth-child(5) img {
    padding-bottom: 21px;
  }
  .principles__grid-item:nth-child(6) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
    border-radius: 0 0 0 62px;
  }
  .principles__grid-item:nth-child(6) img {
    padding-bottom: 17px;
  }
  .principles__grid-item:nth-child(7) {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
    border-radius: 0 0 62px 0;
  }
}

@media (max-width: 1243px) {
  .principles__container {
    background-image: none;
  }
  .principles__inner {
    margin-left: 0;
  }
  .principles__background-photo {
    display: none;
  }
  .principles__inner h2 {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  .principles__grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }
  .principles__grid-item {
    -webkit-filter: drop-shadow(0px 4px 25px rgba(78, 170, 64, 0.25));
            filter: drop-shadow(0px 4px 25px rgba(78, 170, 64, 0.25));
    border-radius: 10px;
    background-color: #FFFFFF;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .principles__grid {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 24px;
  }
  .principles__grid-item {
    -webkit-filter: drop-shadow(0px 4px 25px rgba(78, 170, 64, 0.25));
            filter: drop-shadow(0px 4px 25px rgba(78, 170, 64, 0.25));
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px 10px 18px 10px;
    -webkit-filter: drop-shadow(0px 4px 34px rgba(181, 181, 181, 0.21));
            filter: drop-shadow(0px 4px 34px rgba(181, 181, 181, 0.21));
  }
  .principles__grid-item img {
    padding-bottom: 8px;
  }
  .principles__grid-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
}

.accordeon__item {
  cursor: pointer;
  position: relative;
}

.accordeon__heading {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 22px;
  padding-bottom: 26px;
  border-bottom: 1px solid #444B59;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}

.accordeon__heading::after {
  content: "";
  height: 60px;
  width: 60px;
  background-image: url(../../image/icon/open.svg);
  position: absolute;
  right: 20px;
}

.active::after {
  content: "";
  background-image: url(../../image/icon/close.svg);
}

.accordeon__inner {
  color: #4f4f4f;
  display: none;
  overflow: hidden;
  background: #FFFFFF;
  border-radius: 10px;
}

.accordeon__list .active {
  border-bottom: none;
  padding-bottom: 49px;
}

.active + .accordeon__inner {
  display: block;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: 0px 0px 30px rgba(11, 78, 11, 0.15);
          box-shadow: 0px 0px 30px rgba(11, 78, 11, 0.15);
  margin-bottom: 62px;
  -webkit-animation: fade ease-in 0.5s;
  animation: fade ease-in 0.5s;
}

.questions__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.questions__title {
  max-width: 830px;
  margin-bottom: 71px;
}

.questions__text {
  font-weight: 500;
  font-size: 23px;
  line-height: 149%;
  margin-bottom: 27px;
  text-align: center;
  padding: 0 97px;
}

.questions__item-text {
  width: 100%;
}

.questions ol {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.questions__wrapper {
  width: 100%;
}

.questions__item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 56px;
  height: 458px;
}

.questions__item-img {
  width: 50%;
}

.questions__item-img1 {
  max-width: 490px;
  max-height: 355px;
}

.questions__item-img2 {
  max-width: 355px;
  max-height: 389px;
}

.questions__item-img3 {
  max-width: 456px;
  max-height: 410px;
}

.questions__item-img4 {
  max-width: 397px;
  max-height: 362px;
}

.questions__item-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 149%;
  padding-bottom: 24px;
  color: #4EAA40;
}

.questions__item-text {
  max-width: 515px;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (min-width: 1244px) and (max-width: 1420px) {
  .accordeon__heading {
    font-weight: 500;
    font-size: 25px !important;
    line-height: 120%;
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .questions__item-wrap {
    padding: 0 36px;
  }
  .questions__item-img1 {
    max-width: 442px;
  }
  .questions__item-img3 {
    max-width: 436px;
  }
}

@media (max-width: 1243px) {
  .questions__title {
    margin-bottom: 48px;
    max-width: 479px;
  }
  .questions__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 32px;
    text-align: left;
    padding: 0;
  }
  .accordeon__heading {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    padding: 16px 0;
    padding-right: 97px;
  }
  .accordeon__heading::after {
    right: 0px;
  }
  .accordeon__list .active {
    padding-bottom: 0px;
  }
  .active + .accordeon__inner {
    -webkit-box-shadow: 0px 5px 20px -1px rgba(22, 164, 1, 0.25);
            box-shadow: 0px 5px 20px -1px rgba(22, 164, 1, 0.25);
  }
  .questions__item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 29px 27px 29px;
    height: 100%;
  }
  .questions__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    margin-top: 42px;
    padding-bottom: 16px;
    text-align: center;
  }
  .questions ol {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
  }
  .questions__item-img {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .questions__item-img1 {
    max-width: 305px;
    max-height: 192px;
  }
  .questions__item-img2 {
    max-width: 193px;
    max-height: 209px;
  }
  .questions__item-img3 {
    max-width: 243px;
    max-height: 211px;
  }
  .questions__item-img4 {
    max-width: 205px;
    max-height: 184px;
  }
}

#block {
  width: 100%;
  display: none;
}

#workoutOpen {
  display: block;
}

#workoutClose {
  display: none;
}

.workout__inner {
  margin-top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workout__title {
  font-weight: 900;
  font-size: 39px;
  line-height: 120%;
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 49px;
}

.workout__title span {
  color: #4EAA40;
}

.workout__text {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 57px;
  max-width: 663px;
}

.workout__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 57px;
}

.workout__item {
  width: 370px;
}

.workout__item-description {
  margin-top: 24px;
  font-weight: 500;
  font-size: 23px;
  line-height: 149%;
}

.workout__button {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  padding: 25px 99px;
}

.workout__button-close {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  padding: 25px 125px;
}

@media (min-width: 1244px) and (max-width: 1420px) {
  .workout__item {
    width: 300px;
  }
}

@media (max-width: 1243px) {
  .workout__inner {
    margin-top: 0;
  }
  .workout__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0;
  }
  .workout__text {
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
    margin-bottom: 36px;
  }
  .workout__item {
    width: 100%;
    margin-bottom: 36px;
  }
  .workout__item-description {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  .workout__video iframe {
    height: 223px;
  }
}

.price {
  background-color: #F3FFF4;
}

.price__title {
  margin-bottom: 66px;
}

.price__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 71px;
}

.price__item {
  max-width: 450px;
  position: relative;
  padding: 160px 20px 40px 20px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 34px rgba(181, 181, 181, 0.21);
          box-shadow: 0px 4px 34px rgba(181, 181, 181, 0.21);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.price__wrapper {
  width: 295px;
}

.price__img {
  position: absolute;
  top: -35px;
  width: 223px;
  height: 140px;
}

.price__item-title {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  padding-bottom: 35px;
  min-height: 54px;
}

.price__item-value {
  font-weight: 900;
  font-size: 39px;
  line-height: 120%;
  font-family: 'Playfair Display', serif;
  color: #4EAA40;
  padding-bottom: 9px;
}

.price__item-value img {
  padding-left: 6px;
}

.price__item-subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  padding-bottom: 27px;
}

.price__item-explanation {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

@media (min-width: 1244px) and (max-width: 1420px) {
  .price__content {
    grid-column-gap: 20px;
  }
  .price__item {
    padding: 160px 2px 40px 2px;
  }
}

@media (max-width: 1243px) {
  .price__title {
    margin-bottom: 48px;
  }
  .price__content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 70px;
  }
  .price__item {
    margin: 0 auto;
    max-width: 359px;
    padding: 16px 44px 24px 44px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 4px 34px rgba(181, 181, 181, 0.21);
            box-shadow: 0px 4px 34px rgba(181, 181, 181, 0.21);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .price__img {
    position: static;
    margin-bottom: 28px;
  }
  .price__item-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    padding-bottom: 14px;
    min-height: 44px;
  }
  .price__item-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 14px;
  }
  .price__item-value {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    padding-bottom: 21px;
  }
  .price__item-value img {
    padding-left: 4px;
    width: 24px;
    height: 24px;
  }
  .price__item-explanation {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }
}

.reviews__title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.reviews__wrapper {
  padding: 40px 97px 15px 97px;
  min-height: 580px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 25px rgba(68, 75, 89, 0.24);
          box-shadow: 0px 0px 25px rgba(68, 75, 89, 0.24);
  border-radius: 15px;
  position: relative;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.reviews__item-heading {
  max-width: 344px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.reviews__item-heading-content p {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

.reviews__item-heading-content span {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.reviews__item-images {
  padding-right: 28px;
  width: 120px;
  height: 120px;
}

.reviews__item-img {
  width: 100%;
  height: 100%;
}

.reviews__item-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.reviews__item-list {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  list-style-type: decimal;
  padding-left: 20px;
}

.reviews__button {
  margin-top: 40px;
  margin-bottom: 72px;
}

.reviews__down-subtitle {
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}

.reviews__down-subtitle span {
  color: #4EAA40;
}

@media (min-width: 1244px) {
  .reviews__inner {
    background-image: url(../../image/bg-reviews.svg);
    background-repeat: no-repeat;
    background-position: 50% 100px;
  }
  .reviews__wrapper::after {
    content: "";
    width: 124px;
    height: 94px;
    background-image: url(../../image/reviews-obj.svg);
    position: absolute;
    top: -65px;
    right: 50px;
  }
}

@media (max-width: 1243px) {
  .reviews__item-heading {
    padding-bottom: 29px;
  }
  .reviews__title {
    margin-top: 0px;
  }
  .reviews__item-images {
    padding-right: 28px;
    width: 96px;
    height: 96px;
  }
  .reviews__item-heading-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
  }
  .reviews__item-heading-content span {
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
  }
  .reviews__down-subtitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__button .slick-arrow {
  font-size: 0;
  width: 60px;
  height: 60px;
}

.reviews__button .slick-arrow.slick-prev {
  background: url(../../image/reviews/icon/reviews_prev.svg) 0 0/100% no-repeat;
}

.reviews__button .slick-arrow.slick-prev:hover {
  background: url(../../image/reviews/icon/reviews_prev-hover.svg) 0 0/100% no-repeat;
}

.reviews__button .slick-arrow.slick-prev:active {
  background: url(../../image/reviews/icon/reviews_prev-active.svg) 0 0/100% no-repeat;
}

.reviews__button .slick-arrow.slick-prev.slick-disabled {
  background: url(../../image/reviews/icon/reviews_prev-disable.svg) 0 0/100% no-repeat;
}

.reviews__button .slick-arrow.slick-next {
  margin-left: 36px;
  background: url(../../image/reviews/icon/reviews_next.svg) 0 0/100% no-repeat;
}

.reviews__button .slick-arrow.slick-next:hover {
  background: url(../../image/reviews/icon/reviews_next-hover.svg) 0 0/100% no-repeat;
}

.reviews__button .slick-arrow.slick-next:active {
  background: url(../../image/reviews/icon/reviews_next-active.svg) 0 0/100% no-repeat;
}

.reviews__button .slick-arrow.slick-next.slick-disabled {
  background: url(../../image/reviews/icon/reviews_next-disable.svg) 0 0/100% no-repeat;
}

.contacts {
  background-color: #F3FFF4;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.contacts__inner {
  width: 100%;
}

.contacts__images {
  width: 532px;
}

.contacts__images img {
  width: 100%;
}

.contacts h2 {
  text-align: left;
  margin-bottom: 52px;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__item img {
  padding-right: 40px;
}

.contacts__item:first-child {
  padding-bottom: 24px;
}

.contacts__item-subtitle {
  font-weight: 500;
  font-size: 23px;
  line-height: 149%;
  padding-bottom: 9px;
}

.contacts__item-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

.contacts__subtitle {
  padding-top: 69px;
  padding-bottom: 46px;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  max-width: 570px;
}

.contacts__msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 370px;
}

.contacts__msg a {
  text-align: center;
  cursor: pointer;
}

.contacts__msg a img {
  padding-bottom: 15px;
}

.contacts__title {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
  max-width: 763px;
}

.contacts__links {
  margin-top: 40px;
}

.contacts__down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .contacts h2 {
    text-align: center;
    margin-bottom: 48px;
  }
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts__images {
    width: 272px;
  }
  .contacts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 322px;
    margin: 0 auto;
  }
  .contacts__item img {
    padding-right: 24px;
  }
  .contacts__item:first-child {
    margin-top: 48px;
    padding-bottom: 33px;
  }
  .contacts__item-subtitle {
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
    padding-bottom: 14px;
  }
  .contacts__item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  .contacts__subtitle {
    padding-top: 48px;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
  }
  .contacts__msg {
    margin: 0 auto;
  }
  .contacts__title {
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
    text-align: center;
    max-width: 763px;
  }
  .contacts__links {
    margin-top: 24px;
  }
}

.footer {
  background-color: #444B59;
  min-height: 430px;
  color: #FFFFFF;
  padding-top: 68px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}

.footer__subtitle {
  font-weight: 500 !important;
  font-size: 28px;
  line-height: 34px;
}

.footer__links {
  margin-top: 20px;
  margin-bottom: 26px;
}

.footer__tel {
  margin-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 21px;
  line-height: 27px;
}

.footer__tel img {
  width: 24px;
  height: 24px;
  padding-right: 16px;
}

.footer__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.footer__mail img {
  width: 20px;
  height: 20px;
  padding-right: 18px;
}

.footer__menu {
  margin-left: 98px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 137px 137px 137px 167px;
      grid-template-columns: 137px 137px 137px 167px;
  grid-auto-rows: 120px;
  grid-column-gap: 60px;
}

.footer__menu a {
  display: block;
}

.footer__menu-item:nth-child(5) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer__menu-item:nth-child(6) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer__menu-subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 13px;
}

.footer__menu-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  margin-bottom: 10px;
}

@media (max-width: 1243px) {
  .footer__container {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__title {
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
  }
  .footer__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
  }
  .footer__links {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .footer__tel {
    margin: 0 auto 8px auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 130%;
  }
  .footer__tel img {
    width: 18px;
    height: 18px;
    padding-right: 11px;
  }
  .footer__mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    margin: 0 auto 28px auto;
  }
  .footer__mail img {
    width: 20px;
    height: 20px;
    padding-right: 8px;
  }
  .footer__menu {
    text-align: left;
    margin-left: 0px;
    -ms-grid-columns: 117px 140px;
        grid-template-columns: 117px 140px;
    grid-auto-rows: 120px;
    grid-column-gap: 60px;
  }
  .footer__menu a {
    display: block;
  }
  .footer__menu-item:nth-child(5) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer__menu-item:nth-child(6) {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

.container {
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 144px;
}

.link {
  font-size: inherit;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
  color: #4EAA40;
}

.link:active {
  color: #4EAA40;
  text-decoration: underline;
}

.inner {
  padding: 100px 0;
}

.title {
  font-weight: 900;
  font-size: 39px;
  line-height: 120%;
  font-family: 'Playfair Display', serif;
  text-align: center;
}

.title span {
  color: #4EAA40;
}

.seti-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 120px;
}

.avatar-img {
  max-width: 110px;
  max-height: 110px;
}

.adaptiv-close {
  display: block;
  position: relative;
  width: 32px;
  height: 32px;
}

.adaptiv-close:before {
  content: '';
  background: url(../image/icon/adaptiv-close.svg) no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  right: 0;
  z-index: 60;
}

.about-title {
  font-weight: 900;
  font-size: 39px;
  line-height: 120%;
  font-family: 'Playfair Display', serif;
}

.about-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}

.about-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.about-quote {
  border-left: 3px solid #444B59;
  padding-left: 19px;
}

.about-heading {
  color: #FFFFFF;
  background: no-repeat top/100% url(../../../image/history-main.jpg);
}

.about-heading__inner {
  padding: 150px 0 105px 0;
}

.about-heading__title {
  margin-bottom: 67px;
}

.about-heading__text {
  max-width: 650px;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 60px;
}

.about-heading__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-heading__block-content {
  margin-left: 31px;
}

.about-heading__block-title {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

.about-heading__block-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.about-todes__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -100px;
}

.about-todes__content {
  padding-right: 123px;
}

.about-todes__title {
  margin-bottom: 24px;
}

.about-todes__text {
  padding-bottom: 44px;
}

.about-todes__text:last-child {
  padding-bottom: 0px;
}

.about-todes__image {
  max-width: 468px;
}

.about-todes__img {
  width: 100%;
  height: 100%;
}

.about-todes__image-item {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
}

.first-trener {
  background-color: #FFFFFF;
}

.first-trener__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 20px;
}

.first-trener__grid-item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
}

.first-trener__grid-item:nth-child(2) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
}

.first-trener__grid-item:nth-child(3) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
}

.first-trener__title {
  margin-bottom: 24px;
}

.first-trener__text {
  margin-bottom: 18px;
}

.first-trener__text:last-child {
  margin-bottom: 0;
}

.first-trener__img {
  width: 100%;
  height: 90%;
}

.pilates-trener {
  background-color: #444B59;
  color: #FFFFFF;
}

.pilates-trener__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 26px;
}

.pilates-trener__grid-item:nth-child(1) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
  text-align: center;
}

.pilates-trener__grid-item:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}

.pilates-trener__grid-item:nth-child(3) {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7/13;
  grid-row: span 2;
}

.pilates-trener__grid-item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1/7;
}

.pilates-trener__title {
  margin-bottom: 30px;
}

.pilates-trener__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 8px;
}

.pilates-trener__img {
  width: 100%;
  height: 100%;
}

.my-practice {
  background-color: #FFFFFF;
}

.my-practice__inner {
  padding: 72px 0 100px 0;
}

.my-practice__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 72px;
}

.my-practice__grid-item:nth-child(1) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
}

.my-practice__grid-item:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
}

.my-practice__grid-item:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
}

.my-practice__grid-item:nth-child(4) {
  -ms-grid-column: 6;
  -ms-grid-column-span: 7;
  grid-column: 6/13;
}

.my-practice__grid-item:nth-child(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 8;
  grid-column: 3/11;
}

.my-practice__content {
  padding-left: 42px;
}

.my-practice__title {
  margin-bottom: 20px;
}

.my-practice__subtitle {
  text-align: center;
}

.my-practice__text {
  margin-bottom: 14px;
}

.my-practice__text:last-child {
  margin-bottom: 0;
}

.my-practice__quote-one {
  margin: 40px 0 64px 0;
}

.my-practice__quote-two {
  margin-top: 19px;
}

.my-practice__quote-two ul {
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  list-style-type: disc;
  margin-left: 19px;
}

.my-practice__quote-subtitle {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

.my-practice__img {
  width: 100%;
}

.education {
  background-color: #F3FFF4;
}

.education__container {
  max-width: 1440px;
  margin: 0 auto;
}

.education__title {
  text-align: center;
}

.education__item {
  margin-top: 56px;
}

.education__item .slick-slide {
  padding-left: 20px;
}

.education__item-subtitle {
  margin-bottom: 32px;
}

.education__button {
  margin-top: 56px;
}

.education__diplom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.education__diplom-left {
  width: 481px;
}

.education__diplom-right {
  width: 664px;
}

.education__diplom-img {
  display: block;
  width: 100%;
  padding-bottom: 20px;
}

.education__button .slick-arrow {
  font-size: 0;
  width: 60px;
  height: 60px;
}

.education__button .slick-arrow.slick-prev {
  background: url(../../image/reviews/icon/reviews_prev.svg) 0 0/100% no-repeat;
}

.education__button .slick-arrow.slick-prev:hover {
  background: url(../../image/reviews/icon/reviews_prev-hover.svg) 0 0/100% no-repeat;
}

.education__button .slick-arrow.slick-prev:active {
  background: url(../../image/reviews/icon/reviews_prev-active.svg) 0 0/100% no-repeat;
}

.education__button .slick-arrow.slick-prev.slick-disabled {
  background: url(../../image/reviews/icon/reviews_prev-disable.svg) 0 0/100% no-repeat;
}

.education__button .slick-arrow.slick-next {
  margin-left: 36px;
  background: url(../../image/reviews/icon/reviews_next.svg) 0 0/100% no-repeat;
}

.education__button .slick-arrow.slick-next:hover {
  background: url(../../image/reviews/icon/reviews_next-hover.svg) 0 0/100% no-repeat;
}

.education__button .slick-arrow.slick-next:active {
  background: url(../../image/reviews/icon/reviews_next-active.svg) 0 0/100% no-repeat;
}

.education__button .slick-arrow.slick-next.slick-disabled {
  background: url(../../image/reviews/icon/reviews_next-disable.svg) 0 0/100% no-repeat;
}

@media (min-width: 1244px) and (max-width: 1420px) {
  .about-heading__inner {
    padding: 64px 0 105px 0;
  }
}

.blog-title {
  font-weight: 900;
  font-size: 39px;
  line-height: 120%;
  font-family: 'Playfair Display', serif;
}

.blogs {
  background-color: #F3FFF4;
}

.blogs__container {
  background: no-repeat top/100% url(../../../image/blogs-bg.png);
}

.blogs__inner {
  padding: 87px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs__title {
  margin-bottom: 59px;
}

.blogs__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogs__info-context {
  padding-left: 31px;
}

.blogs__info-subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.blogs__info-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

.blogs__subtitle {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 48px 0;
}

.blogs__blog {
  width: 100%;
  margin-bottom: 80px;
}

.blogs__content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 80px;
  margin-bottom: 62px;
}

.blogs__content-item {
  background-color: #FFFFFF;
  border-radius: 9px;
  -webkit-filter: drop-shadow(0px 4px 34px rgba(181, 181, 181, 0.21));
          filter: drop-shadow(0px 4px 34px rgba(181, 181, 181, 0.21));
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 17px;
}

.blogs__content-info:nth-child(1) img {
  width: 100%;
  height: 100%;
}

.blogs__content-info:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blogs__content-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  max-width: 248px;
  margin-bottom: 48px;
}

.blogs__content-button {
  padding: 19px 41px;
}

.workout-blog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.workout-blog__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 62px;
}

.workout-blog__item {
  border-radius: 10px;
  max-width: 370px;
}

.workout-blog__item a {
  margin-top: 14px;
}

.workout-blog__item-description {
  margin-top: 38px;
  font-weight: 500;
  font-size: 23px;
  line-height: 149%;
}

.workout-blog__button-open {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  padding: 25px 99px;
}

.workout-blog__button-close {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  padding: 25px 125px;
}

.workout-blog__title {
  margin-bottom: 25px;
}

.workout-blog__text {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 55px;
}

.blogs__content-item.nextstop ~ .blogs__content-item {
  display: none;
}

.blogs__content-item.nextadd ~ .blogs__content-item {
  display: block;
}

.blog-item {
  background-color: #F3FFF4;
}

.blog-item__container {
  position: relative;
}

.blog-item__previous {
  position: absolute;
  display: block;
  top: 56px;
  left: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-item__previous img {
  padding-right: 8px;
}

.blog-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-item__info {
  text-align: center;
  width: 566px;
}

.blog-item__image {
  max-width: 486px;
  margin-bottom: 40px;
}

.blog-item__title {
  font-weight: 900;
  font-size: 39px;
  line-height: 120%;
  font-family: 'Playfair Display', serif;
  margin-bottom: 56px;
}

.blog-item__subtitle {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  background: url(../../../image/blog-item-obj.svg) center -4px no-repeat;
  padding-top: 71px;
}

.blog-item__avatar {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-item__avatar-content {
  text-align: left;
  padding-left: 31px;
}

.blog-item__avatar-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}

.blog-item__avatar-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

.blog-wrapper {
  background-color: #fff;
}

.blog-wrapper__inner {
  padding: 0 98px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 40px;
}

.blog-wrapper__quotation {
  border-left: 7px solid #4EAA40;
  padding-left: 13px;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
}

.blog-wrapper__content img {
  width: 100%;
}

.blog-wrapper__content-subtitle {
  font-weight: 500;
  font-size: 23px;
  line-height: 149%;
  margin-bottom: 24px;
}

.blog-wrapper__content-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
  margin-bottom: 16px;
}

.blog-wrapper__content-text:last-child {
  margin-bottom: 0;
}

.blog-wrapper ul {
  list-style-image: url(../../../image/blog-item/Vector.svg);
  padding-left: 34px;
  margin-bottom: 16px;
}

@media (min-width: 1244px) and (max-width: 1420px) {
  .header__menu-item {
    padding-right: 50px;
  }
  .heading__background-circle {
    left: 642px;
    top: 163px;
  }
  .contacts__container {
    background-size: 466px;
    background-position-x: 653px;
  }
  .education__diplom-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .workout-blog__item {
    width: 300px;
  }
}

@media (max-width: 1243px) {
  .header__container {
    padding: 0 26px 0 19px;
  }
  .header__menu-inner {
    margin: 9px 0;
  }
  .burger {
    display: block;
    position: relative;
    width: 27px;
    height: 23px;
  }
  .burger span, .burger:after, .burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #444B59;
    margin: 0 auto;
  }
  .burger span {
    top: 45%;
  }
  .burger:after, .burger:before {
    content: '';
  }
  .burger:after {
    bottom: 0;
  }
  .burger:before {
    top: 0;
  }
  .header__menu-list {
    display: none;
  }
  .burger__menu.open-menu {
    display: block;
    position: fixed;
    background: rgba(37, 42, 52, 0.7);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  }
  .fixed {
    position: fixed;
  }
  .reviews__inner {
    background-image: none;
  }
}

@media (min-width: 768px) and (max-width: 1243px) {
  .container {
    padding: 0 112px;
  }
  .inner {
    padding: 64px 0;
  }
  .title {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
  }
  .heading__inner {
    padding-top: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .heading__background-circle {
    width: 229px;
    height: 229px;
    left: 313px;
    top: 55px;
  }
  .heading__background-photo {
    width: 319px;
    height: 310px;
    left: 225px;
    top: 56px;
  }
  .heading__subtitle-top {
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }
  .heading__title {
    margin-bottom: 32px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 56px;
    line-height: 120%;
  }
  .heading__subtitle-bottom {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    max-width: 250px;
    color: #4EAA40;
    margin-bottom: 121px;
  }
  .heading__text {
    text-align: center;
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
  }
  .heading__btn {
    margin-top: 48px;
  }
  .heading__button {
    font-weight: 500;
    font-size: 21px;
    line-height: 110%;
    padding: 26px 97px;
    margin-bottom: 64px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .heading__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .heading__text {
    margin: 0 auto;
  }
  .heading__btn {
    margin: 48px auto 0 auto;
  }
}

@media (max-height: 800px) {
  .burger__menu.open-menu {
    overflow-y: scroll;
  }
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  min-width: 375px;
  overflow-anchor: none;
  color: #444B59;
  font-weight: 400;
  font-size: 21px;
  line-height: 130%;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
  margin: 0;
  color: inherit;
  /* наследование цвета от родителя */
}

input {
  outline: none;
}
/*# sourceMappingURL=style.css.map */