@media (min-width:1244px) {
  .about-todes__title-adaptiv{
    display: none;
  }
  .first-trener{
    &__grid{
        grid-template-columns: repeat(12,1fr);
        grid-column-gap: 32px;
        grid-row-gap: 20px;
    }
    &__grid-item{
    }
    &__grid-item:nth-child(1) {
        
        grid-column: 1/6;
    }
     &__grid-item:nth-child(2) {
         grid-column: 6/13;
     }
    &__grid-item:nth-child(3){
        grid-column: 3/11;
    }
    &__title{
        
        margin-bottom: 24px;
    }
    &__text{
        margin-bottom: 18px;
    }
    &__text:last-child{
        margin-bottom: 0;
    }
    &__img{
        width: 100%;
        height: 90%;
    }


  }
  .pilates-trener{

    &__grid{ 
        grid-template-columns: repeat(12,1fr);
        grid-column-gap: 20px;
        grid-row-gap: 26px;
    }
    &__grid-item:nth-child(1){
        grid-column: 3/11;
        text-align: center;
    }
    &__grid-item:nth-child(2) {
        
        grid-column: 1/7;
    }
    &__grid-item:nth-child(3) {
         grid-column: 7/13;
         grid-row: span 2;
    }

    &__grid-item:nth-child(4) {
        grid-column: 1/7;
   }
    
   
  }
  .my-practice{
    background-color: $white-body;
    &__inner{
        padding:72px 0 100px 0;
    }

    &__grid{
        grid-template-columns: repeat(12,1fr);
        grid-column-gap: 20px;
        grid-row-gap: 72px;
    }
    &__grid-item:nth-child(1){
        grid-column: 3/11;
    }
    &__grid-item:nth-child(2) {
        grid-column: 3/11;
    }
    &__grid-item:nth-child(3) {
        grid-column: 1/5;
    }
    &__grid-item:nth-child(4) {
        grid-column: 6/13;
    }
    &__grid-item:nth-child(5) {
        grid-column: 3/11;
    }
   
    
  }
  #history-diplom2{
    display: none;
  }
  #history-diplom1{
    display: block;
  }
  .education__button-dip{
    display: none;
  }




}
@media  (min-width:1244px) and (max-width:1420px){
    .about-heading__inner {
        padding: 64px 0 105px 0;
      }
}
@media  (max-width:1024px){
  .about-heading{
    &__container{
      padding: 0 19px !important;
    }
  }
}



@media  (max-width:1243px){
  .about-title{
    @include h1mob;
  }

  .about-subtitle{
      @include sub1mob;
  }
  
  .about-quote{
              
      border-left: 3px solid $gray-fit;
      padding-left: 13px;
      
      
  }
  .about-heading{
   
    
    &__title{
      margin-bottom: 50px;
    }
    &__text{
      margin-bottom: 50px;
    }
    &__block{
        display: flex;
        align-items: center;
    }
    &__block-content{
        margin-left: 31px;
    }
    &__block-title{
        @include main;
    }
    &__block-text{
        @include xs;
    }
  }

  .about-todes{
    &__inner{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: -64px;
    }
    &__content{
      padding-right:0px;
     
    }
    &__title-adaptiv{
      @include h2mob;
      margin-bottom: 24px;
      text-align: center;
    }
    &__title{
      display: none;
    }
    &__text{
      padding-bottom: 16px;
   }
   &__text:last-child{
       padding-bottom: 40px;
   }

    &__image{
        max-width: 544px;
        
    }
    &__image-item{
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 120%;
    }
  }

  .first-trener{
    background-color: $white-body;
    
    &__title{
        text-align: center;
        margin-bottom: 24px;
    }
    &__text:last-child{
        margin-bottom: 0;
    }
    &__img{
        width: 100%;
        height: 90%;
        object-fit: cover;
    }


  }
  .pilates-trener{
    
   &__title{
    margin-bottom: 24px;
    @include sub1mob;
    text-align: center;
  }
  &__text{
    
    margin-bottom: 0px;
}

    
    
  }

  .my-practice{
    &__inner{
        padding:64px 0 40px 0;
    }

    &__grid{
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }
    &__quote-one {
      margin: 24px 0 24px 0;
    }
    &__quote-subtitle{
      @include subtitle2mob;
    }
    &__quote-two{
      ul{
          
          @include mainmob;margin-left: 13px;
      }
    }
    &__content{
      padding-left: 0px;
    }
    &__text{
      margin: 8px 0;
    }
   
  }

  .education{
    
    &__title{
        text-align: center;
        @include h2mob
    }
    &__item{
        margin-top: 40px;
       
    }
    &__item .slick-slide{
      padding-left: 20px;
    }
    &__item-subtitle{
        margin-bottom: 24px;
        @include sub1mob;
        text-align: center;
    }
    
    &__button{
        margin-top: 24px;
    }
    &__button-dip{
      display: block;
    }

    
}
.education__item .slick-slide {
  height: 34vh;
  img{
    height:inherit;
  }
}
#history-diplom1{
  display: none;
}
#history-diplom2{
  display: block;
}
}

@media  (min-width:768px) and (max-width:1243px){
  
  .about-text{
      @include mainmob;    
  }
  
  .about-heading{
    background: no-repeat top/100% url(../../../image/history-adaptiv.jpg);
  
    &__inner {
      padding: 129px 0 128px 0;
    }
    
    &__title{
     max-width: 500px;
    }
    &__text{
        max-width: 513px;
        @include mainmob;
        
    }
    
  }

  .about-todes{
    
    &__image{
        margin-bottom: 24px;
    }
    
  }

  .first-trener{
    &__grid{ 
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 11px;
        grid-row-gap: 24px;
    }
    &__grid-item{
    }
    &__grid-item:nth-child(1) {
        
        grid-column: 1/2;
        grid-row: 2;
    }
     &__grid-item:nth-child(2) {
         grid-column: 2/3;
         grid-row: 2;
     }
    &__grid-item:nth-child(3){
        grid-column: 1/3;
        grid-row: 1;
    }
    
    &__text{
        margin-bottom: 18px;
    }
    


  }
  .pilates-trener{
    &__grid{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 11px;
        grid-row-gap: 24px;
    }
    
    &__grid-item:nth-child(1){
        grid-column: 1/3;
        text-align: left;
    }
    &__grid-item:nth-child(2) {
        
        grid-column: 1/3;
        grid-row: 3;
    }
    &__grid-item:nth-child(3) {
         grid-column: 2/3;
    }

    &__grid-item:nth-child(4) {
        grid-column: 1/2;
        grid-row: 2;
   }
   
  &__text{
    @include mainmob;
  }

    
    
  }

  .my-practice{
    &__inner{
        padding:64px 0 40px 0;
    }

    &__grid{
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }
    &__quote-one {
      margin: 24px 0 24px 0;
    }
    &__quote-subtitle{
      @include subtitle2mob;
    }
    &__quote-two{
      ul{
          
          @include mainmob;margin-left: 13px;
      }
    }
    &__content{
      padding-left: 0px;
    }
    &__text{
      margin: 8px 0;
    }
   
  }

  .education{
    
    &__title{
        text-align: center;
        @include h2mob
    }
    &__item{
        margin-top: 40px;
       
    }
    &__item .slick-slide{
      padding-left: 20px;
    }
    &__item-subtitle{
        margin-bottom: 24px;
        @include sub1mob;
        text-align: center;
    }
    
    &__button{
        margin-top: 24px;
    }
    &__button-dip{
      display: block;
    }

    
}
#history-diplom1{
  display: none;
}
#history-diplom2{
  display: block;
}
}
@media  (max-width:768px){
  
  .about-text{
      @include smallmob;    
  }
  .about-quote{
              
      border-left: 3px solid $gray-fit;
      padding-left: 13px;
      
      
  }
  .about-heading{
    background: no-repeat top/100% url(../../../image/history-adaptiv-mini.jpg);
    background-size: cover;
    &__inner {
      padding: 56px 0 38px 0;
    }
    
    &__title{
      max-width: 250px;
    }
    &__text{
        max-width: 250px;
        @include smallmob;
    }
    
  }
  .about-todes{
   &__image{
        margin-bottom: 40px;
    }
  }

  .first-trener{
    
    &__grid{ 
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }
    &__grid-item:nth-child(1) {
        grid-row: 2;
    }
     &__grid-item:nth-child(2) {
         grid-row: 3;
     }
    &__grid-item:nth-child(3){
        grid-row: 1;
    }
    
    &__text{
        margin-bottom: 16px;
    }
    


  }
  .pilates-trener{
    &__grid{
        margin-top: -16px;
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }
    &__grid-item{
      width: 100%;
    }
    &__grid-item:nth-child(1){
      
        text-align: left;
    }
    &__grid-item:nth-child(2) {
        grid-row: 3;
    }
    &__grid-item:nth-child(3) {
        grid-row: 4;
    }

    &__grid-item:nth-child(4) {
       
        grid-row: 2;
    }
    &__text{
      @include smallmob;
    }

    
    
  }

  .my-practice{
    &__inner{
        padding:64px 0 40px 0;
    }

    &__grid{
        grid-template-columns: 1fr;
        grid-row-gap: 24px;
    }
    &__quote-one {
      margin: 24px 0 24px 0;
    }
    &__quote-subtitle{
      @include subtitle2mob;
    }
    &__quote-two{
      ul{
          
          @include smallmob;margin-left: 13px;
      }
    }
    &__content{
      padding-left: 0px;
    }
    &__text{
      margin: 8px 0;
    }
   
  }

  .education{
    
    &__title{
        text-align: center;
        @include h2mob
    }
    &__item{
        margin-top: 40px;
       
    }
    &__item .slick-slide{
      padding-left: 20px;
    }
    &__item-subtitle{
        margin-bottom: 24px;
        @include sub1mob;
        text-align: center;
    }
    
    &__button{
        margin-top: 24px;
    }
    &__button-dip{
      display: block;
    }

    
}
#history-diplom1{
  display: none;
}
#history-diplom2{
  display: block;
}
}
@media  (max-width:414px){
  .education__container {
    padding: 0 4px;
  }
  .education__button .slick-arrow{
    width: 39px;
    height: 39px;
}
}