.about{
    // &__container{
    //     position: relative;
    // }
    &__inner
    {
        @include center-column
    }
    &__title{
        margin-bottom: 48px;
        
    }
    &__subtitle{
        @include subtitle1;
        margin-bottom: 54px;
        text-align: center;
    }

    &__content{
       width: 100%;
       display: grid;

       grid-template-columns: repeat(3,1fr);
        // flex-wrap: wrap;

    }
    &__content-item{
         width: 308px;
         @include center-column;
         margin: 0 auto;
         img{
             margin-bottom: 38px;
         }
    }

    &__content-text{
        height: 108px;
        @include main;
        text-align:center;
        margin-bottom: 45px;
    }

    &__content-button{
         @include main;
         width: 298px;
         height: 77px;
         display: flex;
         justify-content: center;
         align-items: center;
    }
}
.about__popup .mfp-wrap{ 
    // width: 1440px;
    margin: 0 auto;
    background-color: none;
    // overflow: hidden;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    position: fixed;
    outline: none !important;
    -webkit-backface-visibility: hidden; 
}
.about__popup.mfp-bg {
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    overflow: hidden;
    position: fixed;
    background: #252A34;
    opacity: 0.8;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.6s ease-out;
  }

  .about__popup .mfp-content{
    background: transparent;
    opacity: 0.8;
    max-width: 1440px;
    position: relative;
  }
  .about__popup .mfp-container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding:0;
    box-sizing: border-box; }

    // .about__popup > .mfp-content{
    //     background: none !important;
    //     max-width: 1440px;
    //    }
   
@media  (max-width:1243px){
    .about__title{
        max-width: 361px;
        margin-bottom: 48px;
    }
    .about__subtitle{
        @include sub1mob;
        margin-bottom: 48px;
    }
    .about__content{
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 48px;
    }
    // .about__content-item{
    //     margin: 0 auto;
    // }
    .about__content-item img {
        margin-bottom: 24px;
        width: 105px;
        height: 105px;
      }
    
    .about__content-text{
        height: 63px;
        @include mainmob;
        text-align:center;
        margin-bottom: 24px;
    }
    .about__content-button{
        @include sub1mob;
        width: 361px;
        height: 0;
        padding: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media  (max-width:768px) {
    .about__content-item{
        width: 100%;
    }
    .about__content-text{
        width: 100%;
        height: 100%;
        margin-bottom: 24px;

    }
    .about__content-button{
        width: 100%;
        height: 0;
        padding: 25px 0;
        // display: block;
    }
}