.accordeon__item {
    
    cursor: pointer;
    position: relative;
}
.accordeon__heading {
    height: 60px;
    display: flex;align-items: center;
    padding-top: 22px;
    padding-bottom: 26px;
    border-bottom: 1px solid $gray-fit;
    @include subtitle1
}

.accordeon__heading::after {
    content: "";
    height: 60px;
    width: 60px;
    background-image: url(../../image/icon/open.svg);
    position: absolute;
    right: 20px;
}

.active::after {
    // transition:all 1s;
    content: "";
    background-image: url(../../image/icon/close.svg);
}

.accordeon__inner {
    color: #4f4f4f;
    display: none;
    overflow: hidden;
     background: $white-body;
     
     border-radius: 10px;
}

.accordeon__list .active {
    border-bottom: none;
    padding-bottom: 49px;
}

.active+.accordeon__inner {
    display:block;
    transition: all 1s ease;
   box-shadow: 0px 0px 30px rgba(11, 78, 11, 0.15);
   margin-bottom: 62px;

    -webkit-animation: fade ease-in 0.5s;
    -moz-animation: fade ease-in 0.5s;
    animation: fade ease-in 0.5s;
}

.questions {
     &__inner {
         @include center-column;
         color: inherit;
         
         
     }
    &__title{
        max-width: 830px;
        margin-bottom: 71px;
    }

    &__text {
        @include subtitle2;
        margin-bottom: 27px;
        text-align: center;
        padding: 0 97px;
    }

    &__item-text{
        width: 100%;
    }
    & ol{
        @include small;
    }
    &__wrapper{
        width: 100%;
    }
    &__item-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 56px;
        height: 458px;
    }
    &__item-img {
        width:50%;
        
    }
     &__item-img1 {
        max-width: 490px;
        max-height: 355px;

     }

    &__item-img2 {
        max-width: 355px;
        max-height: 389px;

    }

    &__item-img3 {
        max-width: 456px;
        max-height: 410px;

    }
    &__item-img4 {
        max-width: 397px;
        max-height: 362px;

    }

    &__item-title {
        @include subtitle2;
        padding-bottom: 24px;
        color: $green-fit;

    }
    &__item-text{
        max-width: 515px;
        @include main;

    }
    
   
}
@-moz-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1
    }
}
@media  (min-width:1244px) and (max-width:1420px){
    .accordeon__heading{
        font-weight: 500;
        font-size: 25px !important; 
        line-height: 120%;
        padding-top: 18px;
        padding-bottom: 18px;
    }
    .questions__item-wrap{
        padding: 0 36px;
    }
    .questions__item-img1 {
        max-width: 442px;

     }
     .questions__item-img3 {
        max-width: 436px;

     }
}
@media (max-width:1243px){
    .questions__title{
        margin-bottom: 48px;
        max-width: 479px;
    }

    .questions__text {
        @include mainmob;
        margin-bottom: 40px;
        text-align: left;
        padding: 0 ;
    }
    .accordeon__inner{
        margin-top: 16px;
    }
    .accordeon__heading{
        @include subtitle2mob;
        padding: 8px 0;
        padding-right: 97px;
        
        
    }
    
    .accordeon__heading::after {
       
        right: 0px;
    }

    .accordeon__list .active {
        padding-bottom: 0px;
    }
    .active+.accordeon__inner{
        box-shadow: 0px 5px 20px -1px rgba(22, 164, 1, 0.25);
    }

    .questions__item-wrap {
        @include center-column;
        padding: 16px 29px 27px 29px;
        height: 100%;

        
    }
    .questions__item-title{
        @include subtitle2mob;
        margin-top: 42px;
        padding-bottom: 16px;
        text-align: center;
    }
    .questions ol{
        @include mainmob;
        text-align: left;
    }
    .questions__item-img{
        width: fit-content;
    }
    .questions__item-img1 {
        max-width: 305px;
        max-height: 192px;

     }
     .questions__item-img2 {
        max-width: 193px;
        max-height: 209px;

    }

    .questions__item-img3 {
        max-width: 243px;
        max-height: 211px;

    }
    .questions__item-img4 {
        max-width: 205px;
        max-height: 184px;

    }



}