#block{
    width: 100%;
    display: none;
}
#workoutOpen {
    display: block;
}
#workoutClose {
    display: none;
}


.workout{
    &__inner{
         margin-top: -100px;
         @include center-column

    }
    &__title{
        @include title-h2;
        text-align: center;
        margin-bottom:49px;
        span {
            color:$green-fit
        }
    }
    &__text{
        @include subtitle1;
        text-align: center;
        margin-bottom:57px;
        max-width: 663px;
    }
    &__content {
        width: 100%;
        display: flex;
        justify-content:space-between;
        flex-wrap: wrap;
        margin-bottom: 57px;
    }
    &__video{
        & iframe{
            width: 100%;
        }
    }
     &__item {
         
         width:370px;
     }
     &__item-description {
         margin-top: 24px;
        @include subtitle2;
     }

     &__button{
          @include main;
          padding: 25px 99px;
     }

     &__button-close{
        @include main;
        padding: 25px 125px;
   }


}

@media  (min-width:1244px) and (max-width:1420px){
    .workout__item {
        width:300px;
    }
}
@media (max-width:1243px) {
    .workout{
        &__inner{
            margin-top: 0;
       }
       &__content {
        @include  center-column;
        margin-bottom: 0;
        }
        &__title{
            margin-bottom:36px;
        }
        &__text{
            @include sub1mob;
            margin-bottom:36px;
        }
        &__item {
            width:100%;
           margin-bottom: 36px;
      
        }
        &__item-description {
            margin-top: 16px;
           @include mainmob;
        }
        &__video iframe{
            height: 223px;
         }



    }
       
}
@media (max-width:767px) {
    .workout{
       &__button{
           width: 100%;
           padding: 25px 0;
       }
       &__button-close{
        width: 100%;
    }


    }
       
}


